<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/style.css" />
        <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>

    </head>
    <body>
        <div class="todolist-layout">
            <div class="task-main-box ">
                <div class="task-add ">
                    <div class="desc-heading"><h5 style="margin-left: 5px;">DESCRIPTION</h5></div>
                    <div class="form">
                    <form action="/create-task" method="POST">
                        <div class="form-inside">
                        <div><textarea name="description">Some text...</textarea></div>
                        <div class="d-date" style="margin-top: 20px;margin-left: 5px;">
                           <div> <select id="tags" name="tag">
                            <option value="Work">Work</option>
                            <option value="Personal">Personal</option>
                            <option value="School">School</option>
                            <option value="Other">Other</option>
                          </select>
                           </div>
                           <div>
                            <input type="date" name="duedate" id="dateofbirth">
                           </div>
                        </div>
                        <div class="button-submit">
                            <button class="plus-button plus" style="background-color: blue;" type="submit">
                            <i class="fa fa-plus" aria-hidden="true" style="color:white;font-size: 2em;" ></i>
                            </button>
                        </div>  
                        </div>
                    </form>
                    </div>
                </div>
                <div class="task-visualize">

                </div>
            </div>
            <div class="update-notification">
                <div class="upcoming">
                    <%
                let colorup;
                switch(upcoming.tag){
                    case "Work":
                        colorup = "rgb(105, 192, 170)";
                        break;
                    case "Personal":
                        colorup = "rgb(93, 93, 223)";
                        break;
                    case  "School":
                        colorup = "purple";
                        break;
                    case "Other":
                        colorup = "violet";
                        break;
                    }

                %>
                    <div class="upcoming-badge">
                        <h3>UPCOMING</h3>
                </div>
                <div>
                    <div>
                        <h3><%= upcoming.description %></h3>
                    </div>
                </div>
                <div class="tag-img"    style="background-color: <%= `${colorup}`%>;">

                    <div><h4><%= upcoming.tag %></h4></div>
                </div>
            </div>
            
                <!-- <script type="text/javascript">
                          let getvalue = ()=>
                          {
                            var checks = document.getElementsByName('checked');
                            console.log(checks);
                          } -->
                <!-- </script> -->
        <form action="/remove" method="POST">
                <div class="delete-button">
                    <button type="submit" class="trash-button"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <% for(i of todolist) { %>
            <%
                console.log(i.tag);
                let color;
                switch(i.tag){
                    case "Work":
                        color = "rgb(105, 192, 170)";
                        break;
                    case "Personal":
                        color = "rgb(93, 93, 223)";
                        break;
                    case  "School":
                        color = "purple";
                        break;
                    case "Other":
                        color = "violet";
                        break;
                }

            %>
            <div class="tasks" style="border-left-color:<%= `${color}` %>" >
                <div class="container">
                    <input type="checkbox"  name="<%= i.id %>" />
                </div>
                <div>
                    <div>
                        <h3><%= i.description %></h3>
                    </div>
                    <div>
                        <p><%= i.date %></p>
                    </div>
                </div>
                
                <div class="tag-img"    style="background-color: <%= `${color}`%>;">

                    <div><h4><%= i.tag %></h4></div>
                </div>
            </div>
            <% } %>
        </from>     
        </div>
        <!-- <script type="text/javascript" src="/js/utility.js"></script> -->
    </body>
</html>